.title {
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    margin: 0px;
}

.INT {
    color: blue;
}

.FLT {
    color: red;
}

.DELIM{
    color: green;

}

.END {
    color: pink;
}

.COM {
    color: rgb(78, 90, 2);
}

.EQL {
    color: orange;
}

.ID {
    color: cornflowerblue;
}

.STR{
    color: #5c3782
}

.BOOL{
    color: #820f0f
}